:root {
	--black: #212121;
	--white: #fff;
	--gray: #e0e0e0;
	--primaryBlue: #1652f0;
	--hoverBlue: #154de0;
	--red: #d9605a;
}

.notifications {
	z-index: 100000;
	position: fixed;
	top: 50px;
	right: 10px;
	width: 300px;
	max-height: 90vh;
	overflow-y: scroll;
}

.notificationsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notificationItem {
	border: var(--black) solid 1px;
	margin: 5px 0px;
	padding: 2px;
	border-radius: 4px;
	width: 100%;
	min-height: 100px;
	word-wrap: break-word;
	background-color: var(--black);
	box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
	color: var(--white);
	transition: 0.2s;
}

.notificationItem:not(:first-child) {
	margin-top: -3rem;
}

.notificationItem:hover ~ .notificationItem,
.notificationItem:focus-within ~ .notificationItem {
	transform: translateY(3rem);
}

.info {
	border: var(--primaryBlue) solid 1px;
	background-color: var(--hoverBlue);
}

.danger {
	border: var(--red) solid 1px;
	background-color: var(--red);
}

.closeCross {
	cursor: pointer;
	position: relative;
	top: 5px;
	font-size: 20px;
	font-weight: 800;
}
