@import "../../../assets/styles/global.scss";

$userImage-size: 30px;

.SideBar {
	width: 200px;
	border-right: 1px solid #363556;
	background-color: $sidebar-bg-color;
	display: flex;
	flex-direction: column;
	.channelInfo {
		height: $topbar-height;
		min-height: $topbar-height;
		background-color: $dark-purple;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		padding: 0px 10px;
		.chatIcons {
			display: flex;
			gap: 10px;

			img {
				height: 25px;
				width: 25px;
			}
		}
	}

	.search {

		border-bottom: 1px solid grey;
		padding: 0px 5px;

		.searchForm {
			padding: 10px;
			input {
				background-color: transparent;
				border: none;
				color: white;
				outline: none;
				// border-bottom: 1px solid $purple;
				&::placeholder {
					color: lightgray;
				}
			}
		}
	}
	.users {
		overflow: scroll;
		padding: 0px 5px;
	}
	
	.userChat {
		.userPlate {
			padding: 5px;
			display: flex;
			align-items: center;
			gap: 10px;
			color: white;
			background: linear-gradient(248deg, $purple-gray, $sidebar-bg-color); 		border-radius: 5px;
			margin: 5px 0px;
			&:hover {
				background: none;
				background-color: #2c2b3f;
			}
			
			img {
				width: $userImage-size;
				height: $userImage-size;
				border-radius: 50%;
				object-fit: cover;
			}
			
			.userChatInfo {
				span {
					font-size: 14px;
					font-weight: 500;
					
				}
				p {
					font-size: 12px;
					font-style: italic;
					padding-left: 5px;
				}
			}
			.newMessage {
				flex-grow: 1;
				display: flex;
				flex-direction: row-reverse;
				span {
					margin-right: 5px;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: rgb(116, 175, 238);
				}
			}
		}
		.userMenu {
			display:flex;
			flex-direction: column;
			align-items: center;
			gap: 3px;
			.btnContainer {
				width: calc(100% - 17px);
				margin-left: 15px;
				border-radius: 0px 7px;
				background: linear-gradient(4deg, #2f77dc, black);
				padding-bottom: 1px;
				padding-left: 1px;
				button {
					width: 100%;
					border-radius: 0px 7px;
					background: #363556;
					color: white;
					border: none;
					&:hover {
						background: linear-gradient(3deg, #2f77dc 0%, #363556 60%, #363556 100%);
						color: white;
					}
				}
			}
		}
	}
}