@import "../../../assets/styles/variables.scss";

.friendBar {
	flex-grow: 0;
	flex-shrink: 0;
	width: 160px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	background-color: $dark-grey;
	overflow-y: scroll;
	// min-width: 120px;
	padding: 8px;
	
	.title {
		color: $purple;
		padding-bottom: 5px;
	}
	.userPlate {
		background: none;
		img {
			width: 20px;
			height: 20px;
		}
		&:hover:not(.selected) {
			background-color: $purple;
			border-radius: 10px;
		}
	}

	.friends {
		flex-grow: 1;
		gap: 5px;
		display: flex;
		flex-direction: column;
	}
}