@import "../../../assets/styles/variables.scss";

.friendBar {
	display: flex;
	flex-direction: column;
	gap: 3px;
	background-color: $dark-grey;
	overflow-y: scroll;
	min-width: 120px;
	padding: 8px;
	.title {
		color: $purple;
		padding-bottom: 5px;
	}
	.userPlate {
		background: none;
		padding: 3px;
		img {
			width: 20px;
			height: 20px;
		}
	}

	.friends {
		flex-grow: 1;
	}
}