@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

$icon-size: 25px;
$filter: $drop-shadow;
@keyframes arow {
	0% {
		padding-right: 5px;
	}
	50% {
		padding-right: 10px;
	}
	100% {
		padding-right: 5px;
	}
}
.menu-button {
	@extend .flex-row;
	flex-shrink: 0;
	justify-content: flex-start;
	align-self: stretch;
	padding: 5px;
	gap: 11px;
	color: white;
	color: grey;
	overflow: hidden;
	transform: scale(1);
	transition: transform 0.2s, color 0.2s;
	cursor: pointer;
	&:hover {
		&:not(.arrow) {
			transform: scale(1.05);
		}
		color: white;
		.arrow {
			padding-right: 5px;
			animation: arow 0.7s infinite;
		}
	}
	img {
		height: $icon-size;
		width: $icon-size;
		cursor: pointer;
		&.filter {
			filter: $filter-purple;
		}
	}
	.icon-name {
		flex-shrink: 1;
		opacity: 1;
		transition: visibility 0.5s;
		white-space: nowrap;
		word-wrap: break-word;
		&::first-letter {
			text-transform: uppercase;
		}
	}

	.arrow {
		flex-grow: 1;
		text-align: right;
		padding-right: 5px;
		transition: padding-right 0.5s;
	}
}