@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/general.scss";

.navbar {
	$icon-size: 25px;
	@extend .flex-column;
	width: calc(icon-size + 10px);
	width: 35px;
	flex-shrink: 0;
	padding: 50px 5px;
	padding-left: 5px;
	align-items: flex-start;
	align-self: stretch;
	transition: width 0.5s, padding 0.5s;
	// background-color: aliceblue;
	// overflow: hidden;
	gap: 1px;
	&:hover {
		width: 155px;
		padding: 50px 10px;
		.icon-name {
			visibility: visible;
			opacity: 1;
			animation: appear 0.8s;
		}
	}
	.channels-container {
		@extend .flex-column;
		position: relative;
		justify-self: stretch;
		align-self: stretch;
		background-color: aliceblue;
		transition: margin-top 0.5s, background-color 0.5s, padding-top 0.5s, box-shadow 0.5s;
		background-color: rgba(0, 0, 0, 0);
		border-radius: 5px;
		&:hover {
			margin-top: 10px;
		}
		.channel-title {
			opacity: 0;
			position: absolute;
			color: $purple;
			font-family: NatureBeauty;
			font-size: 20px;
			font-weight: 200;
			top: -10px;
			transition: opacity 0.5s;
			filter: $drop-shadow;
		}
		.channel-wrapper {
			@extend .flex-column;
			justify-content: flex-start;
			justify-self: stretch;
			align-self: stretch;
			max-height: 200px;
			overflow: scroll;
		}
		&:hover {
			background-color: $dark-grey;
			box-shadow: $shadow-outset-border;
			padding-top: 15px;
			.channel-title {
				opacity: 1;
			}
		}
		
	}
	.notChannel {
		img {
			border-radius: 0px;
		}
	}
	filter: $drop-shadow;
	.channel-button {
		@extend .flex-row;
		flex-shrink: 0;
		justify-content: flex-start;
		align-self: stretch;
		padding: 5px;
		gap: 11px;
		color: white;
		overflow: hidden;
		transform: scale(1);
		transition: transform 0.5s;
		cursor: pointer;
		&:hover {
			transform: scale(1.06);
		}
		img {
			height: $icon-size;
			width: $icon-size;
			cursor: pointer;
			&.filter {
				filter: $filter-purple;
			}
		}
		max-width: 140px;
		.icon-name {
			flex-shrink: 1;
			opacity: 1;
			transition: visibility 0.5s;
			white-space: nowrap;
			word-wrap: break-word;
			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}

.newChannel-container {
	@extend .flex-row;
	@extend .flex-column;
	position: absolute;
	top: -50px;
	left: 0px;
	width: 90vw;
	background-color: rgba(0, 0, 0, 0.246);
	backdrop-filter: blur(10px);
	z-index: 200;
	.title {
		background-color: none;
	}

	.error {
		color: red;
		font-style: italic;
	}
	select {
		background-color: $purple;
		color: white;
		font-weight: 300;
		outline: none;
		border: none;
		padding: 5px 10px;
		border-radius: 7px;
	}
	.select-selected {
		color: yellow;
	}

	.cancel-button {
		margin-top: 10px;
	}
}