@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/general.scss";

$invitation-size: 15px;

.topbar {
	@extend .flex-row;
	min-height: $topbar-height;
	justify-content: space-between;
	color: aliceblue;
	color: $purple;
	width: 100%;
	filter: $drop-shadow;
	z-index: 100;
	.channel {
		@extend .flex-row;
		gap: 5px;
		.channelImg {
			padding: 5px;
			height: 32px;
		}

		.channelName {
			font-size:30px;
			padding: 0px 0px;
			font-family: NatureBeauty;
			font-family: Alkatra;
			&:first-letter {
				text-transform: uppercase;
			}
		}
	}
	.user {
		@extend .flex-row;
		gap: 5px;
		position: relative;
	}
}