@import "../../../assets/styles/variables.scss";


.ChannelUsers {
	background-color: $chat-bg-color;
	width: 170px;
	display: flex;
	flex-direction: column;
	border-radius: 10px 0 0 0 ;
	.search {

		// border-bottom: 2px solid $dark-grey;
		padding: 10px;
		padding-right: 10px;
		.searchForm {
			padding: 8px;
			background-color: $purple-gray;
			border-radius: 5px;
			input {
				background-color: transparent;
				border: none;
				color: white;
				outline: none;
				&::placeholder {
					color: lightgray;
				}
			}
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.753);
		}
	}
	.users {
		display: flex;
		flex-direction: column;
		overflow: scroll;
		padding: 0 10px;
		padding-right: 10px;
		gap: 10px;
		flex-grow: 1;
		.title {
			color: white;
			padding: 5px;
			filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.882));
		}
	}
	.invitation {
		padding: 8px;
	}
}