@import "../../../assets/styles/variables.scss";
.messageContainer {
	&.stick {
		display: flex;
		gap: 10px;
		padding: 3px 8px;
		&:hover {
			background-color: $dark-grey;
			.hour {
				display: block;
			}
		}
		.avatar, .hour, .day {
			display: none;
		}
		.message {
			display: flex;
			flex-direction: row;
			gap: 5px;
			color: #d7d4d4;
			font-weight: 300;
			align-items: center;
			padding: 2px;
			.details {
				width: 40px;
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-shrink: 0;
				.username {
					display: none;
				}
				.time {
					color: grey;
					font-size: 12px;
				}
			}
		}
		position: relative;
	}
	&.normalMessage {
		display: flex;
		gap: 10px;
		padding: 3px 8px;
		margin-top: 10px;
		&:hover {
			background-color: $dark-grey;
		}

		img {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			object-fit: cover;
			padding-top: 4px;
		}

		.message {
			display: flex;
			padding: 2px;
			flex-direction: column;
			gap: 5px;
			color: #d7d4d4;
			font-weight: 300;
			.details {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				gap: 10px;
				.time {
					color: grey;
					font-size: 12px;
					display: flex;
					gap: 3px;
				}
			}
		}
		position: relative;
	}
	.messageMenu {
		display: none;
	}
	&:hover {
		.messageMenu {
			position: absolute;
			top: -10px;
			right: 15px;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			gap: 10px;
			background: $dark-purple;
			height: 25px;
			width: 50px;
			border-radius: 7px;
			border: 1px solid $dark-grey;
			.edit {
				height: 13px;
				width: 13px;
			}
			.delete {
				height: 15px;
				width: 15px;
			}
			img {
				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
}

