@import "../../../assets/styles/variables.scss";

$userImage-size: 22px;

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }


.userChat {
	color: white;
	background: linear-gradient(90deg, $purple-gray, $chat-bg-color);
	border-radius: 10px;
	&.selected {
		border-radius: 20px 10px 10px 10px;
	}
	&:hover:not(.selected) {
		background: none;
		background-color: $dark-grey;
		border-radius: 5px;
	}
	.userPlate {
		display: flex;
		align-items: center;
		gap: 10px;

		img {
			width: $userImage-size;
			height: $userImage-size;
			border-radius: 50%;
			object-fit: cover;
			&.selected {
				border-radius: 50% 0 50% 0;
				height: calc($userImage-size * 2);
				width: calc($userImage-size * 2);
			}
		}

		.userChatInfo {
			display: flex;
			align-items: center;
			span {
				font-size: 14px;
				font-weight: 500;

			}
			p {
				font-size: 12px;
				font-style: italic;
				padding-left: 5px;
			}
		}
		.newMessage {
			flex-grow: 1;
			display: flex;
			flex-direction: row-reverse;
			span {
				margin-right: 5px;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: rgb(116, 175, 238);
			}
		}
	}
}