@import 'assets/styles/variables';
@import 'assets/styles/general';

.match-board {
	$title-size: 100px;
	@extend .flex-column;
	align-self: stretch;
	justify-content: space-between;
	border-radius: 0 10px 10px 0;
	height: 100%;
	.title-container {
		@extend .flex-row;
		gap: 10px;
		height: $title-size;
		img {
			$img-size: 50px;
			height: $img-size;
			width: $img-size;
			filter: $drop-shadow;
		}
	}
	.title {
		text-align: center;
		font-family: NatureBeauty;
		font-weight: 300;
		font-size: 2.2rem;
		color: $purple;
		padding: 20px 0 15px 0;
		filter: $drop-shadow;
	}
	.board-container {
		@extend .flex-column;
		align-self: stretch;
		margin: 10px;
		height: 100%;
		height: calc(100% - $title-size - 4px);
		border-radius: 10px;
		$play-button-size: 150px;
		$border-size: 30px;
		box-shadow: $shadow-outset-border;
		background-color: #00000032;
	}
}
