@import 'assets/styles/variables';
@import 'assets/styles/general';

.history-container {
	@extend .flex-column;
	align-self: stretch;
	flex-grow: 1;
	overflow: hidden;
	.matches-header {
		@extend .flex-row;
		color: white;
		justify-content: space-between;
		align-self: stretch;
		border-radius: 8px 8px 0 0;
		padding: 10px;
		background-color: rgba(0, 0, 0, 0.352);
		span {
			@extend .flex-row;
			gap: 20px;
			width: 120px;
			&.score-header {
				flex-grow: 1;
			}
			&:first-child{
				width: 80px;
			}
			&:first-child {
				justify-content: flex-start;
			}
			font-size: 20px;
			filter: $drop-shadow;
		}
	}
	.matches {
		@extend .flex-column;
		justify-content: flex-start;
		flex-grow: 1;
		align-self: stretch;
		overflow: scroll;
		border-radius: 0 0 8px 8px;
	}
}
