@import 'assets/styles/variables';
@import 'assets/styles/general';

.match-plate {
	@extend .flex-row;
	justify-content: space-between;
	align-self: stretch;
	padding: 5px;
	font-size: 17px;
	color: white;
	filter: $drop-shadow;
	.date {
		width: 80px;
		text-align: center;
		justify-content: flex-start;
		margin-left: 5px
	}
	.result {
		@extend .flex-row;
		gap: 20px;
		flex: 1 1 auto;
	}
	.user {
		@extend .flex-row;
		gap: 10px;
		width: 120px;
		flex: 1 1 auto;
		&:first-child {
			justify-content: flex-end;
		}
		&:last-child {
			justify-content: flex-start;
		}
	}
	img {
		$img-size: 25px;
		height: $img-size;
		width: $img-size;
		border-radius: 50%;
		object-fit: cover;
	}
	.score {
		width: 50px;
		text-align: center;
	}
	// .type {
	// 	width: 80px;
	// 	height: 5px;
	// 	justify-content: flex-end;
	// 	margin-right: 5px;
	// }
}