@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

.channel-users {
	display: flex;
	flex-direction: column;
	width: 180px;
	flex-shrink: 0;
	.users {
		height: calc(100% - 2*$border-padding);
		display: flex;
		flex-direction: column;
		overflow: scroll;
		padding: $border-padding;
		gap: 10px;
	}
	.title {
		align-self: flex-start;
		color: white;
		padding: 5px;
		padding-top: 10px;
		filter: $drop-shadow;
	}
	.invitation {
		padding: $border-padding;
	}
}