@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

.channel-users {
	display: flex;
	flex-direction: column;
	width: $channel-users-width;
	flex-shrink: 0;
	.users {
		height: calc(100% - 2*$border-padding);
		display: flex;
		flex-direction: column;
		overflow: scroll;
		padding: $border-padding;
		gap: 10px;
	}
	.title {
		align-self: flex-start;
		color: $purple;
		font-family: NatureBeauty;
		font-size: 20px;
		padding: 10px 5px 0 5px;
		padding-top: 10px;
		filter: $drop-shadow;
	}
	.invitation {
		padding: $border-padding;
	}
}