@import "assets/styles/variables.scss";
@import "assets/styles/background/purple2.scss";

.feed {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	.messages {
		display: flex;
		flex-direction: column-reverse;
		flex: 1 1;
		margin-top: $border-padding;
		margin-right: $border-padding;
		background-color: $dark-purple;
		overflow-y: scroll;
		border-radius: 5px;
		box-shadow: $shadow-outset-border;
	}
	.input {
		display: flex;
		background-color: $dark-purple;
		margin: $border-padding;
		margin-left: 0px;
		height: 36px;
		flex-shrink: 0;
		padding: 0 5px 0 0;
		border-radius: 5px;
		box-shadow: $shadow-outset-border;
		input {
			overflow: auto;
			width: 100%;
			border: none;
			outline: none;
			color:white;
			border-radius: 5px;
			padding: 0 10px;
			background-color: transparent;
			resize: vertical;
			&::placeholder {
				color: rgb(216, 216, 216);
			}
		}
		.send {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 10px;
			img {
				height: 25px;
				cursor: pointer;
				filter: $filter-purple;
			}

			button {
				border: none;
				padding: 4px 15px;
				border-radius: 5px;
				cursor: pointer;
			}

			img:hover{
				filter: $filter-white;
			}
		}
	}
}