@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

.messageContainer {
	display: flex;
	gap: 10px;
	padding: 3px 8px;
	position: relative;
	filter: $drop-shadow;
	&:hover {
		background-color: $dark-grey;
	}
	&.stick {
		&:hover .hour {
			display: block;
		}
		.avatar, .hour, .day, .username {
			display: none;
		}
		.message {
			@extend .flex-row;
			display: flex;
			flex-direction: row;
			gap: 5px;
			color: #d7d4d4;
			font-weight: 300;
			align-items: center;
			padding: 2px;
			.details {
				@extend .flex-column;
				width: 40px;
				flex-shrink: 0;
			}
		}
	}
	.time {
		color: grey;
		font-size: 12px;
	}
	&.normalMessage {
		margin-top: 10px;
		img {
			width: 35px;
			height: 35px;
			flex-shrink: 0;
			border-radius: 50%;
			object-fit: cover;
			margin-top: 4px;
		}

		.message {
			display: flex;
			padding: 2px;
			flex-direction: column;
			gap: 5px;
			color: #d7d4d4;
			font-weight: 300;
			.details {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				gap: 10px;
				.time {
					display: flex;
					gap: 3px;
				}
			}
		}
	}
	.messageMenu {
		display: none;
	}
	&:hover {
		.messageMenu {
			@extend .flex-row;
			position: absolute;
			top: -10px;
			right: 15px;
			gap: 10px;
			background: $dark-purple;
			height: 25px;
			width: 50px;
			border-radius: 7px;
			border: 1px solid rgba(0, 0, 0, 0.413);
			.edit {
				height: 13px;
				width: 13px;
			}
			.delete {
				height: 15px;
				width: 15px;
			}
			img {
				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
}

