@import "assets/styles/variables.scss";


.private-users {
	width: 220px;
	.users {
		height: calc(100% - 2*$border-padding);
		display: flex;
		flex-direction: column;
		overflow: scroll;
		padding: $border-padding;
		gap: 15px;
		flex-grow: 1;
		flex-shrink: 0;
		transition: 0.5s;
	}
	.invitation {
		padding: 8px;
	}
}