@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

.userChat {
	$userImage-size: 22px;
	color: white;
	background: linear-gradient(90deg, $purple-gray, $chat-bg-color);
	border-radius: 10px;
	box-shadow: $shadow-outset-border;
	&:hover:not(.selected) {
		background: none;
		background-color: $dark-grey;
	}
	.details {
		@extend .flex-row;
		width: 100%;
	}
	.userPlate {
		display: flex;
		align-items: center;
		gap: 3px;
		.avatar {
			flex: 0 0 $userImage-size;
			width: $userImage-size;
			height: $userImage-size;
			border-radius: 50%;
			object-fit: cover;
			&.bigAvatar {
				min-width: calc($userImage-size * 2);
				border-radius: 10px 0 50% 0;
				height: calc($userImage-size * 2);
				width: calc($userImage-size * 2);
			}
		}
		.username {
			vertical-align: middle;
			max-width: 77px;
			height: 15px;
			font-size: 15px;
			font-weight: 500;
			overflow: hidden;
			font-family: Kaushan;
			&:first-letter {
				text-transform: uppercase;
			}
		}
		.status {
			$icon-size: $userPlate-icon-size;
			@extend .flex-row;
			width: 35px;
			padding-right: 5px;
			gap: 5px;
			flex-grow: 1;
			justify-content: flex-end;
			.connected {
				width: $icon-size;
				height: $icon-size;
				border-radius: 50%;
				flex-shrink: 0;
				&.on {background-color: rgb(94, 230, 106);}
				&.off {background-color: rgba(140, 140, 140, 0.476);}
			}
		}
	}
	&.selected {
		border-radius: 20px 10px 10px 10px;
		background: none;
		background-color: $dark-grey;
		.avatar {
			align-self: flex-start
		}
		.details {
			@extend .flex-column;
		}
		.username {
			color: $purple;
			width: 100%;
			align-self: flex-start;
			margin-left: 5px;
			font-weight: 900;
			font-size: 20px;
			height: 28px;
			padding-top: 5px;
			filter: $drop-shadow;
			&::first-letter {
				text-transform: uppercase;
			}
		}
		.status {
			width: 100%;
			margin-right: 15px;
		}
	}
}