.layoutContainer {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	background-color: hsl(220, calc(1 * 7.7%), 22.9%);
}

.contentWrapper {
	/* background-color: hsl(220, calc(1 * 7.7%), 22.9%);; */
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	align-items: stretch;
}

.navContainer {
	height: 100vh;
	width: 72px;
	flex: 0 0 72px;
	background-color: hsl(216, calc(1 * 7.2%), 13.5%);
}

.sidebarContainer {
	/* background-color: green; */
}

.contentWrapper {
	/* padding: 2px; */
	/* background-color: red; */
}
