body {
	margin: 0;
	min-width: 720px;
	min-height: 400px;
	// width: 100%;
	background: rgb(52,19,65);
	background: linear-gradient(248deg, rgba(52,19,65,1) 0%, rgba(61,23,101,1) 52%, rgba(67,53,79,1) 100%);
}