.home {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.container {
		border-radius: 10px;
		display: flex;
		width: 80%;
		height: 80%;
		display: flex;
		overflow: hidden;
		box-shadow: 10px 10px 100px black,
		-2px -2px 150px rgba(145, 145, 145, 0.4);
	}
}