import React from 'react';

const BACKGROUND = 0;
const PLAYER = 1;
const BALL = 2;
export {
	BACKGROUND,
	PLAYER,
	BALL
}

const BOX_SIZE = "35px";

.backgroundStyle {
    height: BOX_SIZE,
    width: BOX_SIZE,
    borderStyle: "solid",
    justifyContent: "center",
    backgroundColor : "black",
    borderRadius: "2px",
}
.playerStyle {
    height: BOX_SIZE,
    width: BOX_SIZE,
    borderStyle: "solid",
    justifyContent: "center",
    backgroundColor : "blue",
    color: "white"
}

.ballStyle {
    height: BOX_SIZE,
    width: BOX_SIZE,
    display: "block",
    backgroundColor: "purple",
    justifyContent: "center",
    borderRadius: "100%",
    color:"white",
    zindex:"10"
}



.inner {
	display: "flex",
	flexDirection: "row",
	justifyContent: "justify", 
	Text: "100px",
	padding: "10px"
  }
  
.outer {
	display: "flex",
	flexDirection: "column",
	justifyContent: "justify", 
	marginTop: "9em",
	margin: "0 auto",
	align: "center",
	Text: "100px",
	padding: "10em"
  }
  
.score {
	marginLeft: "100px",
	fontSize: "50px",
	color: "white"
  }
  
.dividerStyle {
	marginLeft: "50px",
	fontSize: "50px",
	color: "white"
  }
