@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

.game-invitation-container {
	@extend .flex-column;
	font-family: $base-font;
	gap: 10px;
	align-items: flex-start;
	.first-line {
		@extend .flex-row;
		justify-content: space-between;
		width: 100%;
	}
	.user-info {
		@extend .flex-row;
		gap: 10px;
		img {
			$img-size: 30px;
			width: $img-size;
			height: $img-size;
			border-radius: 50%;
			object-fit: cover;
		}
		filter: $drop-shadow;
	}
	.username {
		font-family: Kaushan;
		max-width: 130px;
		overflow: hidden;
		font-size: 22px;
		color: $purple;
		padding-top: 10px;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	.invitation-buttons {
		@extend .flex-row;
		gap: 10px;
	}
	.invitation-text {
		filter: $drop-shadow;
	}

	button {
		@extend .button-purple;
		padding: 3px 7px;
		border-radius: 5px;
		box-shadow: $shadow-outset-border;
		transition: color 0.2s;
		&:hover {
			color:$purple;
			background-color: white;
		}
		&::first-letter {
			text-transform: uppercase;
		}
		&.accept {
			background-color: rgb(9, 143, 23);
		}
		&.decline {
			background-color: rgb(157, 53, 53);
		}
	}

	.response-container {
		@extend .flex-column;
		width: 100%;
		gap: 10px;
		.username {
			max-width: 150px;
		}
		.message {
			width: 100%;
			filter: $drop-shadow;
			padding-left: 10px
		}
		.second-line {
			@extend .flex-row;
			justify-content: space-between;
			width: 100%;
		}
		.button {
			align-self: flex-end;
			justify-self: flex-end;

		}
	}
}
