@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

.penalities-container {
	@extend .flex-row;
	gap: 5px;
}
.penality-container {
	@extend .flex-row;
	position: relative;
	&:hover {
		.tooltip {
			display: flex;
		}
	}
	.icon {
		width: $penality-icon-size;
		height: $penality-icon-size;
		border-radius: 50%;
		filter: $filter-purple;
	}
	.tooltip {
		@extend .flex-row;
		gap: 5px;
		padding: 3px 5px;
		position: absolute;
		top: -20px;
		right: -15px;
		font-size: 11px;
		background-color: $purple;
		border-radius: 8px;
		white-space: nowrap;
		display: none;
		box-shadow: $shadow-outset-border;
		&.admin {
			top: -27px;
		}
		button {
			background-color: $dark-grey;
			padding: 3px;
			border-radius: 5px;
			filter: $drop-shadow;
		}
	}
}