@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

.friendBar {
	@extend .flex-column;
	align-items: stretch;
	flex-grow: 0;
	flex-shrink: 0;
	width: 160px;
	gap: 3px;
	overflow-y: scroll;
	padding: 8px;
	.title {
		color: $purple;
		padding-bottom: 5px;
		Font-family: NatureBeauty;
		font-size: 20px;
		padding: 10px 5px 5px 5px;
		filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
	}
	.friends {
		flex-grow: 1;
		gap: 5px;
		display: flex;
		flex-direction: column;
		&::-webkit-scrollbar {
			display: none;
		}
		scrollbar-width: none;
	}
}