@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

$avatar-size: 30px;

@keyframes pulse {
	$pulse-color-max: #7674bfd8;
	$pulse-color-zero: #7674bf00;
	0% {
		box-shadow: 0 0 0 0 $pulse-color-max;
	}
	70% {
		box-shadow: 0 0 0 8px $pulse-color-zero;
	}
	100% {
		box-shadow: 0 0 0 0 $pulse-color-zero;
	}
}
.hero {
	@extend .flex-row;
	padding: 0 10px;
	.avatar {
		width: $avatar-size;
		height: $avatar-size;
		border-radius: 50%;
		cursor: pointer;
		object-fit: cover;
		transition: 0.5s;
	}
	.pulse {
		&:hover {
			// transform: scale(1.1);
			animation: pulse 0.8s infinite;
		}
}
		
	.hero-menu-wrap {
		@extend .floating-menu;
		.menu {
			display: flex;
			flex-direction: column;
			gap: 10px;
			filter: $drop-shadow;
		}
		.user-info {
			@extend .flex-row;
			justify-content: flex-start;
			gap: 15px;
			.avatar {
				width: 50px;
				height: 50px;
			}
			.username {
				font-family: Kaushan;
				font-size: 30px;
				font-weight: 200;
				overflow-wrap: break-word;
				max-width: 120px;
				&::first-letter {
					text-transform: uppercase;
				}
			}
		}

		.button-wrap {
			background-color: $purple-gray;
			border-radius: 5px;
			padding: 0 5px;
			&:hover {
				background-color: $purple;
				img {
					filter: $filter-white;
				}
			}
		}
	}
}