@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

$avatar-size: 30px;
.hero {
	@extend .flex-row;
	padding: 0 10px;
	.avatar {
		width: $avatar-size;
		height: $avatar-size;
		border-radius: 50%;
		cursor: pointer;
		object-fit: cover;
	}
	.hero-menu-wrap {
		@extend .floating-menu;
		.menu {
			display: flex;
			flex-direction: column;
			gap: 10px;
			filter: $drop-shadow;
		}
		.user-info {
			@extend .flex-row;
			justify-content: flex-start;
			gap: 15px;
			.avatar {
				width: 50px;
				height: 50px;
			}
			.username {
				font-family: Kaushan;
				font-size: 30px;
				font-weight: 200;
				overflow-wrap: break-word;
				max-width: 120px;
				&::first-letter {
					text-transform: uppercase;
				}
			}
		}

		.user-details {
			@extend .flex-row;
			flex-wrap: wrap;
			gap: 5px;
			background-color: $purple-gray;
			padding: 7px 5px;
			border-radius: 5px;
			box-shadow: $shadow-outset-border;
			div {
				@extend .flex-row;
				justify-content: space-around;
				flex: 1 1 70px;
				padding: 0 10px;
				color: white;
			}
		}

		.button-wrap {
			background-color: $purple-gray;
			border-radius: 5px;
			padding: 0 5px;
			&:hover {
				background-color: $purple;
				img {
					filter: $filter-white;
				}
			}
		}
	}
}