@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

$image-size: 25px;

@keyframes bell-ring{
	0% {
		filter: $filter-red drop-shadow(0px 0px 2px $purple);
	}
	50% {
		filter: $filter-red drop-shadow(0px 0px 5px $purple);
		transform: scale(1.1);
	}
	100% {
		filter: $filter-red drop-shadow(0px 0px 10px $purple);
	}
}

.invitations-container {
	@extend .flex-column;
	.invitations-icon {
		width: $image-size;
		height: $image-size;
		object-fit: cover;
		opacity: 0.0;
		display:none;
		cursor: pointer;
		transition: opacity 0.5s;
		&.notif {
			animation: bell-ring 1s infinite;
			display: block;
			opacity: 1.0;
		}
	}
	.invitations-menu {
		@extend .flex-column;
		@extend .floating-menu;
		gap: 10px;
		position: absolute;
		opacity: 1;
		opacity: 0;
		transform: translateX(100%);
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	}

	.invitations-menu.active {
		opacity: 1;
		transform: translateX(0);
	}
	.title {
		font-family: NatureBeauty;
		font-size: 20px;
		padding: 10px;
		filter: $drop-shadow;
	}
	.invitation-container {
		@extend .flex-row;
		justify-content: flex-start;
		align-self: stretch;
		gap: 5px;
		background-color: $purple-gray;
		padding: 5px;
		border-radius: 10px;
		color: grey;
		filter: $drop-shadow;
		&:hover {
			color: white;
			background-color: $purple;
		}
		.invitation-details {
			@extend .flex-column;
			flex-grow: 1;
			gap: 1px;
		}
		.invitation-line {
			@extend .flex-row;
			justify-content: space-between;
			align-self: stretch;
			.name {
				flex-grow: 1;
			}
		}
		.invitation-choice {
			@extend .flex-row;
			justify-content: flex-end;
			align-self: stretch;
			gap: 5px;
		}
		.choice {
			$choice-size: 20px;
			width: $choice-size;
			height: $choice-size;
			cursor: pointer;
			&:hover {
				animation: rotation 1s infinite;
			}
		}
		.icon {
			height: calc($image-size + 8px);
			width: calc($image-size + 8px);
			object-fit: cover;
			border-radius: 50%;
		}
	}
	.noInvitation {
		color: lightgray;
		font-style: italic;
	}
}