@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

.newChannel-container {
	@extend .flex-row;
	@extend .flex-column;
	position: absolute;
	left: 0px;
	width: 90vw;
	width: 100vw;
	height: 110vh;
	background-color: rgba(0, 0, 0, 0.246);
	backdrop-filter: blur(10px);
	z-index: 200;
	.title {
		background-color: none;
	}
	.createOrJoin {
		@extend .flex-row;
		gap: 20px;
		div {
			@extend .flex-row;
		}
	}
	.error {
		color: red;
		font-style: italic;
	}
	select {
		background-color: $purple;
		color: white;
		font-weight: 300;
		outline: none;
		border: none;
		padding: 5px 10px;
		border-radius: 7px;
	}

	.cancel-button {
		margin-top: 10px;
	}

	.switch-button {
		background: $dark-grey;
		background: $dark-purple;
		border-radius: 30px;
		overflow: hidden;
		width: 80px;
		text-align: center;
		letter-spacing: 1px;
		color: $purple;
		position: relative;
		padding-right: 100px;
		position: relative;
	  
		&:before {
		content: "Create";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		pointer-events: none;
		}
		&-checkbox {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0px;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 2;
		&:checked + .switch-button-label:before {
			transform: translateX(90px);
			transition: transform 300ms linear;
		}
		& + .switch-button-label {
			position: relative;
			padding: 5px 0;
			display: block;
			user-select: none;
			pointer-events: none;
			&:before {
			content: "";
			background: #fff;
			height: 100%;
			width: 90px;
			position: absolute;
			left: -24px;
			top: 0;
			border-radius: 30px;
			transform: translateX(0);
			transition: transform 300ms;
			}
			.switch-button-label-span {
			position: relative;
			}
		}
		}
	}
	.channel-search {
		margin-top: 10px;
		max-height: 200px;
		overflow-y: scroll;
		width: 240px;
		height: 155px;
		border-radius: 5px;
		background-color: $purple-gray;
		overflow: scroll;
		img {
			$img-size: 30px;
			height: $img-size;
			width: $img-size;
			filter: $drop-shadow;
			object-fit: cover;
		}
		transition: 0.5s;



		.channel{
			@extend .flex-column;
			justify-content: space-between;
			align-items: center;
			padding: 5px 10px;
			border-radius: 5px;
			.first-line {
				@extend .flex-row;
				width: 100%;
				.icon {
					$img-size: 25px;
					width: $img-size;
					height: $img-size;
					filter: $filter-purple $drop-shadow;
				}
			}
			// &.protected
			.channelName {
				flex-grow: 1;
				padding: 0 5px;
				max-width: 150px;
				overflow: hidden;
				&::first-letter {
					text-transform: uppercase;
				}
			}
			button {
				@extend .button-purple;
				cursor: pointer;
				background-color: $purple;
				color: white;
				font-weight: 300;
				outline: none;
				border: none;
				border-radius: 7px;
				width: 50px;
			}
			&:hover, &:focus {
				background-color: $dark-grey;
				// border-radius: 0;
				box-shadow: $shadow-outset-border;

				.protected-form {
					display: flex;
					height: auto;
					div {
						opacity: 1;
					}
				}
			}
			.protected-form {
				@extend .flex-row;
				padding: 5px 0;
				gap: 10px;
				position: relative;
				height: 0;
				transition: 0.5s height;
				div {
					display: flex;
					flex-direction: row;
					position: relative;
					gap: 10px;
					opacity: 0;
				}
				input {
					width: 130px;
					color: white;
					padding: 5px 8px;
					padding-left: 20px;
					border: none;
					outline: none;
					background-color: $dark-grey;
					border-radius: 3px;
					box-shadow: $shadow-outset-border;
					&:hover, &:focus {
						background-color: $dark-purple !important;
					}
				}

				img {
					$img-size: 15px;
					position: absolute;
					left: 3px;
					top: 7px;
					filter: $filter-purple;
					width: $img-size;
					height: $img-size;
				}
			}
		}
	}
}