@import "assets/styles/variables.scss";
@import "assets/styles/general.scss";

$invitation-size: 15px;

.topbar {
	@extend .flex-row;
	min-height: $topbar-height;
	justify-content: space-between;
	color: aliceblue;
	color: $purple;
	width: 100%;
	filter: $drop-shadow;
	z-index: 100;
	.channel {
		@extend .flex-row;
		.channelImg {
			padding: 7px;
			height: 32px;
			width: 32px;
			flex-shrink: 0;
			border-radius: 50%;
			object-fit: cover;
			&.icon {
				filter: $filter-purple;
				border-radius: 0;
			}
		}

		.channelName {
			font-size:30px;
			padding: 0px;
			font-family: Kaushan;
			padding-left: 5px;
			&:first-letter {
				text-transform: uppercase;
			}
		}
	}
	.user {
		@extend .flex-row;
		gap: 5px;
		position: relative;
	}
}