@import "./variables.scss";
@import "./general.scss";

.form_container {
	$width: 240px;

	@extend .flex-column;
	height: 100vh;
	display: flex;
	animation: scaleIn 1s;
	font-family: $base-font;

	.form_wrapper {
		@extend .flex-column;
		padding: 35px;
		border-radius: 5px;
		background-color: rgba(54, 54, 69, 0.342);
		color: white;
		box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.582);

		animation: scalIn 2s;
		gap: 15px;
		backdrop-filter: blur(5px);
		position:relative;

		.logo {
			position: absolute;
			top: -40px;
			color: $purple;
			font-size: 40px;
			padding: 20px;
			z-index: 100;
			animation: appear 3s;
			font-family: NatureBeauty;
			filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.882));

			&.logo-2FA {
				bottom: 80%;
				text-align: center;
				top: unset;
			}

			&.enable-2FA {
				bottom: 90%;
				text-align: center;
				top: unset;
			}
		}

		form{
			@extend .flex-column;
			gap: 15px;
			width: 100%;
			&.setting_form {
				@extend .flex-row;
				.input_container {
					align-items: flex-start
				}
				.button_container {
					display: flex;
					height: 100%;
					flex-direction: column-reverse;
					button {
						height: 38px
					}
				}

				&.password {
					@extend .flex-column;
					width: calc($width * 2 + 15px);
					flex-wrap: wrap;
					gap: 15px;
					align-items: flex-start;
					.password-row {
						@extend .flex-row;
						gap: 15px;
						width: 100%;
						align-items: end;

						
					}
					.password-row:nth-last-child(2) {
						.input_icon {
							top: 8px
						}
					}
					.info {
						font-style: italic;
						color: aliceblue;
					}
				}
			}

			input {
				color: white;
				padding: 12px 8px;
				padding-left: 36px;
				border: none;
				width: $width - 44px;
				outline: none;
				background-color: $dark-purple;
				border-radius: 3px;
				&::placeholder {
					color: rgb(175, 175, 175);
				}
			}

			.err_msg {
				color: red;
				padding: 10px;
				font-style: italic;
			}
		}
		a {
			color: #aeadde;
			text-decoration: none;
		}

		.title {
			color: white;
			font-size: 25px;
			font-weight: bolder;
			font-family: NatureBeauty;
			filter: $drop-shadow;
		}

		.input_container {
			@extend .flex-column;
			gap: 5px;
			position: relative;
			align-items: flex-start;
		}

		.input_icon {
			position: absolute;
			height: 20px;
			filter: $filter-purple;
			left: 9px;
			top: 30px
		}

		.locker {
			width: 22px;
			height: 18px;
			left: 8px;
		}
		.mail {
			width: 18px;
			height: 17px;
			top: 32px;
		}
		.channel_icon {
			filter: none;
		}
		label {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			color: #827fc6;
			cursor: pointer;
			img {
				width: 40px;
				filter: $filter-purple;
			}
			&:hover {
				color: white;
				img {
					filter: $filter-white;
				}
			}
		}

		button {
			@extend .flex-row;
			gap: 5px;
			border-radius: 4px;
			padding: 10px;
			font-weight: bold;
			height: 30px;
			width: $width;
			filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.582));
			img {
				width: 18px;
				filter: $filter-white;
			}

			&:hover {
				color: $purple;
				background-color: white;
				img {
					filter: $filter-purple;
				}
				animation: button-scale 0.5s;
				animation-fill-mode: forwards;
			}
			&:active {
				background-color: #363556;
			}
		}

		.detail {
			padding-top: 10px;
			color: #7774bf;
			color: white;
			filter: $drop-shadow;
		}

		.signup_buttons_container {
			gap: 10px;
			button {
				width: $width * 0.5 - 5px;
				text-decoration: none;
			}
		}
	}

	.password-info {
		align-self: center;
		color: rgb(197, 197, 197);
		font-style: italic;
		max-width: 240px;
	}
	.error {
		max-width: 240px;
		color: red;
	}
}



