@import "./variables.scss";

.button-purple {
	color: white;
	border: none;
	outline: none;
	background-color: #827fc6;
	// &:hover {
	// 	box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.663);
	// }
	&:hover {
		color: $purple;
		background-color: white;
		font-weight: 400;
	}
	&:active {
		background-color: #363556;
	}
}