$dark-gray: #292943;
$dark-purple: #2e2d4c;
$purple: #7774bf;
$color-dark1: #292943;
$filter-purple: invert(46%) sepia(13%) saturate(1581%) hue-rotate(203deg) brightness(99%) contrast(83%);
$filter-white: invert(96%) sepia(4%) saturate(0%) hue-rotate(13deg) brightness(105%) contrast(106%);


@keyframes appear{
	0% { opacity: 0%; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes scaleIn {
	0% { transform: scale(0); }
	20% { transform: scale(0); }
	100% { transform: scale(1); }
}