@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$chat-bg-color: #363556;
$chat-bg-color: rgb(77 76 99 / 21%);
// $chat-bg-color: #2f363c;
$purple-message: #9e9ed2;
$dark-grey: #272637;
$dark-grey: #2c2955a8;
$purple: #7774bf;
$dark-purple: #413f61;
$dark-purple: #413f6177;
// $dark-purple: #354362;
$purple-gray: #4a486c;
$filter-purple: invert(46%) sepia(13%) saturate(1581%) hue-rotate(203deg) brightness(99%) contrast(83%);
$filter-white: invert(96%) sepia(4%) saturate(0%) hue-rotate(13deg) brightness(105%) contrast(106%);
$filter-red: invert(57%) sepia(100%) saturate(3422%) hue-rotate(323deg) brightness(89%) contrast(87%);
$topbar-height: 35px;
$base-font: 'Source Sans Pro', sans-serif;

@font-face {
	font-family: NatureBeauty;
	src: local("NatureBeauty"), url("../fonts/NatureBeauty.ttf") format("truetype");
}
@font-face {
	font-family: Alkatra;
	src: local("Alkatra"), url("../fonts/Alkatra-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: MrDeHaviland;
	src: local("MrDeHaviland"), url("../fonts/MrDeHaviland-Regular.ttf") format("truetype");
}

@keyframes appear{
	0% { opacity: 0%; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes scaleIn {
	0% { transform: scale(0); }
	20% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes rotation {
	0% { transform: rotate(0deg) scale(1); }
	50% { transform: rotate(359deg) scale(1.4); }
	100% { transform: rotate(0deg) scale(1); }
}

@keyframes button-scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.05);
	}
}
