@import '../../../assets/styles/variables';
@import '../../../assets/styles/general';

.gamer-board {
	@extend .flex-column;
	height: 100%;
	width: 180px;
	$img-size: 130px;
	$border-size: 7px;
	.gamer-container {
		@extend .flex-column;
		height: 100%;
		padding: 30px 0 0 0;
		justify-content: space-between;
		gap: 30px;
	}

	.avatar-border::before {
		content: ' ';
		width: calc($img-size + $border-size);
		height: calc($img-size + $border-size);
		background: conic-gradient(
			from 90deg,
			rgb( 0 0 0 / 0%) 70%, rgb(11 78 230 / 9%) 80%, rgb( 0 220 255) 100%);
			animation: rotate 3s linear infinite;
	}
	.avatar-container {
		@extend .flex-column;
		position: relative;
		min-height: 130px;
		height: 20vh;
	}
	.avatar-border {
		@extend .flex-row;
		position: absolute;
		background-color: rgba(75, 78, 128, 0.588);
		backdrop-filter: blur(15px);
		border-radius: 50%;
		overflow: hidden;
		filter: drop-shadow(2px 5px 2px rgba(0,0,0,0.75));
	}

	img {
		width: $img-size;
		height: $img-size;
		border-radius: 50%;
		z-index: 2;
	}

	.username {
		text-align: center;
		font-family: NatureBeauty;
		font-weight: 300;
		font-size: 1.7rem;
		text-size-adjust: auto;
		color: $purple;
		filter: drop-shadow(2px 5px 2px rgba(0,0,0,0.75));
		max-width:130px;
    	word-wrap:break-word;
		font-family: Alkatra;
	}
	.user-info {
		@extend .flex-column;
		justify-content: space-between;
		gap: 10px;
		filter: drop-shadow(2px 5px 2px rgba(0,0,0,0.75));
		div {
			@extend .flex-row;
			width: 120px;
			justify-content: space-between;
		}
	}
	.button-container {
		@extend .flex-column;
		gap: 20px;
		flex-grow: 1;
		justify-content: flex-end;
		button {
			border-radius: 5px; 
			height: 25px;
			width: 150px;
			box-shadow: 2px 5px 5px rgba(0,0,0,0.75);
		}
	}
}