@import '../../../assets/styles/variables';
@import '../../../assets/styles/general';

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.game-container {
	@extend .flex-row;
	width: 100%;
	height: calc(100% - $topbar-height + 10px);
	overflow: hidden;
	padding: 10px 10px 20px 10px;

	span {
		color: white
	}
}

.gamer-board {
	@extend .flex-column;
	justify-content: flex-start;
	width: 220px;
	height: 100%;
	gap: 30px;

	$img-size: 130px;
	$border-size: 7px;
	.avatar-border::before {
		content: ' ';
		width: calc($img-size + $border-size);
		height: calc($img-size + $border-size);
		background: conic-gradient(
			from 90deg,
			rgb( 0 0 0 / 0%) 70%, rgb(11 78 230 / 9%) 80%, rgb( 0 220 255) 100%);
			animation: rotate 3s linear infinite;
	}

	.avatar-border {
		@extend .flex-row;
		position: absolute;
		background-color: rgba(75, 78, 128, 0.588);
		backdrop-filter: blur(15px);
		border-radius: 50%;
		overflow: hidden;
		top: calc($topbar-height + $border-size);
		filter: drop-shadow(2px 5px 2px rgba(0,0,0,0.75));
	}


	img {
		width: $img-size;
		height: $img-size;
		border-radius: 50%;
		z-index: 2;
	}

	.username {
		font-family: NatureBeauty;
		font-weight: 300;
		font-size: 2.5rem;
		color: $purple;
		filter: drop-shadow(2px 5px 2px rgba(0,0,0,0.75));
	}
	
	.user-info {
		@extend .flex-column;
		justify-content: space-between;
		gap: 10px;
		filter: drop-shadow(2px 5px 2px rgba(0,0,0,0.75));
		div {
			@extend .flex-row;
			width: 120px;
			justify-content: space-between;
			
		}
	}

	.button-container {
		@extend .flex-column;
		gap: 20px;
		flex-grow: 1;
		justify-content: flex-end;
		button {
			border-radius: 5px; 
			height: 25px;
			width: 150px;
			box-shadow: 2px 5px 5px rgba(0,0,0,0.75);
		}
	}
}


.ranking-board {
	@extend .flex-column;
	flex-grow: 1;
	width: 100%;
	justify-content: space-between;
	border-radius: 10px;
	background-color: $chat-bg-color;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.75);
	height: 100%;
	padding: 0 10px;
	.title {
		font-family: NatureBeauty;
		font-weight: 300;
		font-size: 2.5rem;
		color: $purple;
		padding: 25px;
		filter: drop-shadow(2px 5px 2px rgba(0,0,0,0.75));
	}
	overflow: hidden;
	.players-container {
		@extend .flex-column;
		width: 100%;
		height: 100%;
		.players {
			@extend .flex-column;
			gap: 10px;
			width: 100%;
			overflow: scroll;
		}
		.player {
			@extend .flex-row;
			justify-content: space-between;
			width: 100%;
			// padding: 10px;
			span {
				@extend .flex-row;
				gap: 20px;
				filter: drop-shadow(2px 5px 2px rgba(0,0,0,0.75));
				width: 120px;
				&:first-child {
					width: 300px;
					justify-content: flex-start;
				}
			}
			img {
				$img-size: 30px;
				width: $img-size;
				height: $img-size;
				border-radius: 100%;
			}
		}
	}
}
