@import 'assets/styles/variables';
@import '../styles/pongVariables.scss';


/* Variables */
$primary-color: #ec1e40;
$secondary-color: #ff5476;
$tertiary-color: #E57729;

$primary2-color: #0077C2;
$secondary2-color: #00B2E3;
$tertiary2-color: #00A1C7;

$quaternary-color: #FDB581;
$quinary-color: #fe9f3d;
$surface-width: 100px;
$surface-height: 110px;
$surface-border-radius: 50px 50px 36px 36px;
$surface-box-shadow: -3px 0 #000, -6px 0 $primary-color;
$surface2-box-shadow: -3px 0 #000, -6px 0 $primary2-color;



$hold-width: 40px;
$hold-height: 20px;
$hold-gradient-size: 50% 50%;
$handle-width: 10px;
$handle-height: 55px;
$handle-border-radius: 0 0 5px 5px;
$handle-background-color: #E57729;
$handle-before-background-color: #FDB581;
$handle-after-gradient: linear-gradient(to right, #fd7724 0%, #fe9f3d 30%, #fdb581 100%);

/* Mixins */
@mixin gradient($direction, $start-color, $end-color) {
  background: linear-gradient($direction, $start-color 0%, $end-color 100%);
}

/* Extend */
.solid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yourPaddle {
	position: absolute;
	.surface {
	  position: relative;
	  z-index: 2;
	  width: $surface-width;
	  height: $surface-height;
	  background: linear-gradient(45deg, $primary2-color 0%, $secondary2-color 100%);
	  border-radius: $surface-border-radius;
	  box-shadow: $surface2-box-shadow;
	}
	
	.handle {
	  position: absolute;
	  top: $surface-height - 5px; // adjust this value as needed
	  left: ($surface-width - 15px) / 2;
	  width: 12px;
	  height: 30px;
	  background: #e6e6e6;
	  border-radius: 0px 0px 8px 8px; /* Set different border radius values for each corner */
      z-index: -1;
	  
	 
	  // box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.5),
	  // 			0px 2px 5px rgba(0, 0, 0, 0.25);
	}
  }

  .myPaddle {
	position: absolute;
	.surface {
	  position: relative;
	  z-index: 2;
	  width: $surface-width;
	  height: $surface-height;
	  background: linear-gradient(45deg, $primary-color 0%, $secondary-color 100%);
	  border-radius: $surface-border-radius;
	  box-shadow: $surface-box-shadow;
	}
	
	.handle {
	  position: absolute;
	  top: $surface-height - 5px; // adjust this value as needed
	  left: ($surface-width - 15px) / 2;
	  width: 12px;
	  height: 30px;
	  background: #e6e6e6;
	  border-radius: 0px 0px 8px 8px; /* Set different border radius values for each corner */
      z-index: -1;
	  
	 
	  // box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.5),
	  // 			0px 2px 5px rgba(0, 0, 0, 0.25);
	}
  }
	  



// .paddlePONG {
// 	position: absolute;
// 	transform-origin: 50% 100%;
//   }
  
//   .solid {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
//   }
  
//   .surface {
// 	width: 100px;
// 	height: 110px;
// 	background: linear-gradient(45deg, #ec1e40 0%, #ff5476 100%);
// 	border-radius: 50px 50px 36px 36px;
// 	box-shadow: -3px 0 #000, -6px 0 #ec1e40;
//   }
  
//   .hold {
// 	position: relative;
// 	.top {
// 	  position: relative;
// 	  top: -10px;
// 	  left: -6px;
// 	  width: 40px;
// 	  height: 20px;
// 	  background:
// 		linear-gradient(315deg, transparent 5px, transparent 0) bottom right,
// 		linear-gradient(45deg, transparent 5px, transparent 0) bottom left;
// 	  background-size: 50% 50%;
// 	  background-repeat: no-repeat;
// 	  background-image:
// 		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 10px, #E57729 5px),
// 		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 10px, #E57729 5px);
// 	  &:before {
// 		display: block;
// 		content: '';
// 		position: relative;
// 		left: 3px;
// 		width: 40px;
// 		height: 20px;
// 		background:
// 		  linear-gradient(315deg, transparent 5px, transparent 0) bottom right,
// 		  linear-gradient(45deg, transparent 5px, transparent 0) bottom left;
// 		background-size: 50% 50%;
// 		background-repeat: no-repeat;
// 		background-image:
// 		  radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 10px, #FDB581 5px),
// 		  radial-gradient(circle at 0 100%, rgba(204,0,0,0) 10px, #FDB581 5px);
// 	  }
// 	  &:after {
// 		display: block;
// 		content: '';
// 		position: relative;
// 		top: -20px;
// 		left: 6px;
// 		width: 40px;
// 		height: 20px;
// 		background:
// 		  linear-gradient(315deg, transparent 5px, transparent 0) bottom right,
// 		  linear-gradient(45deg, transparent 5px, transparent 0) bottom left;
// 		background-size: 50% 50%;
// 		background-repeat: no-repeat;
// 		background-image:
// 		  radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 10px, #fe9f3d 5px),
// 		  radial-gradient(circle at 0 100%, rgba(204,0,0,0) 10px, #fe9f3d 5px);
// 	  }
// 	}
// 	.transition {
// 	  position: absolute;
// 	  top: 0px;
// 	  left: 10px;
// 	  width: 20px;
// 	  height: 15px;
// 	  background: linear-gradient(to top, #fd7724 0%, #fe9f3d 60%, #fe9f3d 100%);
// 	  border-radius: 100%;
// 	  z-index: 10;
// 	}
// 	.handle {
// 	  position: relative;
// 	  top: -10px;
// 	  left: 4px;
// 	  width: 20px;
// 	  height: 55px;
// 	  background: #E57729;
// 	  border-radius: 0 0 5px 5px;
// 	  &:before {
// 		display: block;
// 		content: '';
// 		position: relative;
// 		left: 3px;
// 		width: 20px;
// 		height: 55px;
// 		background: #FDB581;
// 		border-radius: 0 0 5px 5px;
// 	  }
// 	  &:after {
// 		display: block;
// 		content: '';
// 		position: relative;
// 		top: -55px;
// 		left: 6px;
// 		width: 20px;
// 		height: 55px;
// 		background: linear-gradient(to right, #fd7724 0%, #fe9f3d 30%, #fdb581 100%);
// 		border-radius: 0 0 5px 5px;
// 	  }
// 	}
//   }

