.form_container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.form_wrapper {
		background-color: #2f2f4c;
		color: white;
		padding: 20px 60px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 10px 10px 100px black,
		-2px -2px 150px rgba(145, 145, 145, 0.4);

		a {
			color: #aeadde;
		}
		.logo {
			color: #7774bf;
			font-size: 24px;
			font-weight: bold;
		}

		.title {
			color: #7774bf;
			font-size: 16px;
			font-weight: bold;
			padding-top: 10px;
		}
		form{
			display: flex;
			flex-direction: column;
			gap: 15px;

			input {
				color: white;
				padding: 10px;
				border: none;
				border-bottom: 1px solid #827fc6;
				outline: none;
				background-color: #2f2f4c;

				&::placeholder {
					color: rgb(175, 175, 175);
				}
			}

			label {
				display: flex;
				align-items: center;
				gap: 10px;
				color: #827fc6;
				cursor: pointer;
				img {
					width: 40px;
					opacity: 0.5;
				}
				:hover {
					color: white;
				}
			}

			button {
				background-color: #827fc6;
				color: White;
				border-radius: 20px;
				padding: 5px;
				font-weight: bold;
				outline: none;
				border: none;
				height: 30px;

				&:hover {
					box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.663);
				}
				&:active {
					background-color: #363556;

				}
			}
		}
		p {
			color: #7774bf;
		}
	}
}

